<div class="max-wrap">
  <div class="page-404" style="background-image:url('{{ '../assets/images/404bg.min.png' | asset_img_url: 'original' }}');">
    <div class="page-404__banner">
      <img src="{{ '../assets/images/icon-clouds.png' | asset_img_url: '160x' }}" alt="Error 404" class="page-404__image"/>
      <h1 class="page-404__title">{{ 'general.404.title' | t }}</h1>
      <h4 class="page-404__alias">{{ 'general.404.alias' | t }}</h4>
      <p class="page-404__text">{{ 'general.404.subtext_html' | t }}</p>
      <div class="page-404__links">
        <a href="/" class="page-404__link">Back to homepage</a>
        <span class="page-404__or">or</span>
        <a href="/collections/all" class="page-404__link">Explore our products</a>
      </div>
    </div>
  </div>
</div>
