{% if customer and customer.tags contains "training_approved" %}
  <div class="collection-page">

    {% section 'collection-banner' %}

    <div class="collection-content max-wrap">

      <div class="collection-authorization-switch" data-collection-authorization-switch>
        <div class="row no-gutters">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
            {% include 'authorization-filter' %}
          </div>
        </div>
      </div>

      <div class="row no-gutters js-sticky-sidebar-container">
        <div class="col-md-3">

          {% include 'product-filter' %}

        </div>
        <div class="col-md-9">
          <div class="collection-products">
            {% if collection.products.size > 0 %}
              {% paginate collection.products by 9 %}
                <div class="row no-gutters" data-paginate-collection-content>
                  {% for product in collection.products %}
                    {% assign hide_product = false %}
                    {% assign filtered_tags_s = "" %}
                    {% for p_tag in product.tags %}
                      {% if p_tag contains "skin-" or p_tag contains "use-" %}
                        {% comment %} from all the tags, extract the skin- use- and availability tags {% endcomment %}
                        {% assign p_tag_h = p_tag | handleize %}
                        {% assign filtered_tags_s = filtered_tags_s | append: p_tag_h | append: '::'  %}
                      {% elsif p_tag == "hidden-product" %}
                        {% assign hide_product = true %}
                      {% endif %}
                    {% endfor %}

                    {% for variant in product.variants %}
                      {% if variant.title contains "backbar" or variant.title contains "Backbar" %}
                        {% assign has_backbar = true %}
                        {% assign filtered_tags_s = filtered_tags_s | append: "availability-backbar::" %}
                      {% else %}
                        {% assign filtered_tags_s = filtered_tags_s | append: "availability-retail::" %}
                      {% endif %}
                    {% endfor %}

                    {% assign filtered_tags_a = filtered_tags_s  | split: '::' %}
                    {% capture p_filtered_tag_classes %}{% unless filtered_tags_a == empty %}{% for f_tag in filtered_tags_a %} {{ f_tag }}{% endfor %}{% endunless %}{% endcapture %}
                    {% assign all_tags = "skin-all usecase-all type-all availability-all" %}
                    {% assign type_tag = "type-" | append: product.type | handleize %}
                    {% if condition %}
                    {% endif %}
                    {% comment %} add all the products we extracted and the all- tags in order for the filters to work {% endcomment %}
                    {% unless hide_product  %}
                      <div class="col-lg-4 col-6 {{ all_tags }} {{ type_tag }} {{ p_filtered_tag_classes }}" data-collection-product-column>
                        {% include 'product-item' with product, index: forloop.index %}
                      </div>
                    {% endunless %}
                  {% endfor %}
                </div>
                {% if paginate.pages > 1 %}
                  {% if paginate.next.is_link %}
                    <div class="collection-products__pagination" data-collection-pagination>
                      <a class="collection-products__load-more" href="{{ paginate.next.url }}" data-order-load-more>Load more</a>
                    </div>
                  {% endif %}
                {% endif %}
              {% endpaginate %}
            {% else %}
              <p class="collection-products__no-products">There are no products in this collection.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% elsif customer %}
  {% include 'clinic-order' with "quiz-incomplete" %}
{% else %}
  {% include 'clinic-order' with "not-logged" %}
{% endif %}
