{% assign metafields = page.metafields.info_center %}
<div class="information-article">
  <div class="information-article__wrap">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 d-md-none text-left">
          <a class="information-article__backlink" data-info-backlink>
            <span class="information-article__backlink-icon icon-angle-left"></span>
            <span class="information-article__backlink-text">Back
          </a>
        </div>
        <div class="col-lg-8 col-sm-11 col-12 static">
          <h3 class="information-article__section-title">Acne information center</h3>
        </div>
      </div>
    </div>

    <div class="information-article__navigation">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-11 col-12 static">
            <a class="information-article__backlink d-none d-md-block" data-info-backlink>
              <span class="information-article__backlink-icon icon-angle-left"></span>
              <span class="information-article__backlink-text">Back
            </a>
            {% include 'breadcrumbs' %}
          </div>
        </div>
      </div>
    </div>

    <div class="information-article__inner">
      <div class="information-article__utilities">
        <button type="button" class="information-article__social information-article__social--margin" data-info-share-toggle>
          <span class="information-article__social-icon icon-share"></span>
          <span class="information-article__social-text">Share</span>
        </button>
        <a href="javascript:window.print()" class="information-article__social">
          <span class="information-article__social-icon icon-document"></span>
          <span class="information-article__social-text">Print</span>
        </a>
        {% capture absolute_url %}{{ shop.secure_url }}{{ page.url }}{% endcapture %}
        {% include 'social-sharing',
          share_title: page.title,
          share_permalink: absolute_url
          attributes: 'data-info-sharing'
        %}
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-11">
            <h1 class="information-article__title">{{ page.title }}</h1>
            <p class="information-article__introduction">{{ metafields.introduction }}</p>
            <article class="information-article__content shopify-rte">{{ page.content }}</article>
          </div>
        </div>
      </div>
    </div>

    {% include 'info-article-related' %}

    <div class="max-wrap">
      <a class="information-article__backlink static" href="/pages/acne-information-center">
        <span class="information-article__backlink-icon icon-angle-left"></span>
        <span class="information-article__backlink-text">Back to Acne Information Center Index
      </a>
    </div>

  </div>

  {% section 'info-cta' %}

</div>
