<div class="quiz-landing" style="background-image:url('{{ '../assets/images/404bg.min.png' | asset_img_url: 'original' }}');">
  <div class="quiz-landing__banner">
    <img src="{{ '../assets/images/icon-quiz.png' | asset_img_url: 'original' }}" alt="{{ page.title }}" class="quiz-landing__image"/>
    <h1 class="quiz-landing__title">{{ page.title }}</h1>
    <div class="quiz-landing__text">{{ page.content }}</div>

    {% section 'certification-landing' %}

  </div>
</div>
