<div class="swym-dummy d-none">
  <span class="swym-button"></span>
</div>
{% if customer %}
  {% if customer.tags contains "training_purchased" %}
    <div class="training-product" style="background-image:url('{{ '../assets/images/certification-bg.jpg' | asset_img_url: 'original' }}');">
      <div class="training-product__banner">
        <img src="{{ '../assets/images/icon-certification.png' | asset_img_url: '160x' }}" alt="Training course" class="training-product__image"/>
        <h1 class="training-product__title">{{ product.title }}</h1>
        <div class="training-product__text">You already purchased the training course</div>
        <div class="training-product__links">
          <a href="/pages/certification-test" class="training-product__link">Proceed to quiz</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="training-product" style="background-image:url('{{ '../assets/images/certification-bg.jpg' | asset_img_url: 'original' }}');">
      <div class="training-product__banner">
        <img src="{{ '../assets/images/icon-certification.png' | asset_img_url: '160x' }}" alt="Training course" class="training-product__image"/>
        <h1 class="training-product__title">{{ product.title }}</h1>
        <div class="training-product__text">{{ product.description }}</div>
        <div class="training-product__links">
          {%- assign variant = product.selected_or_first_available_variant -%}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ variant.id }}"/>
            <input type="hidden" name="product-id" value="{{ product.id }}"/>
            <input type="hidden" name="product-title" value="{{ product.title }}"/>
            <input type="hidden" name="quantity" value="1"/>
            <div class="training-product__title">{{ product.price | money }}</div>
            <button
              class="training-product__link"
              type="submit"
              name="add"
              data-add-to-cart-training>
              Purchase training Course
            </button>
          </form>
        </div>
        <div class="training-product__disclaimer">
          Once purchased you will get access to a certification process which, When completed, will grant you full access to Face Reality Pro web shop and products
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="training-product" style="background-image:url('{{ '../assets/images/certification-bg.jpg' | asset_img_url: 'original' }}');">
    <div class="training-product__banner">
      <img src="{{ '../assets/images/icon-certification.png' | asset_img_url: '160x' }}" alt="Training course" class="training-product__image"/>
      <h1 class="training-product__title">{{ product.title }}</h1>
      <div class="training-product__text">{{ product.description }}</div>
      <div class="training-product__text">You must create an account in order to purchase your certification.</div>
      <div class="training-product__links">
        <a href="/account/register/?redirect=certification" class="training-product__link">Register Here</a>
      </div>
    </div>
  </div>
{% endif %}