<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Home" class="breadcrumbs__link">Home</a>
  {% if template contains 'case-studies'  %}
    <span class="breadcrumbs__separator" aria-hidden="true">&rsaquo;</span>
    <span class="breadcrumbs__current">Case Studies</span>
  {% elsif template contains 'case-study'  %}
    <span class="breadcrumbs__separator" aria-hidden="true">&rsaquo;</span>
    <a class="breadcrumbs__link" href="/pages/case-studies">Case Studies</a>
    <span class="breadcrumbs__separator" aria-hidden="true">&rsaquo;</span>
    <span class="breadcrumbs__current">{{ page.title }}</span>
  {% elsif template contains 'information-section' or template contains 'information-article' %}
    <span class="breadcrumbs__separator" aria-hidden="true">&rsaquo;</span>
    <a class="breadcrumbs__link" href="/pages/acne-information-center">Acne Information Center</a>
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <span class="breadcrumbs__current">{{ page.title }}</span>
  {% elsif template contains 'page' %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <span class="breadcrumbs__current">{{ page.title }}</span>
  {% elsif template contains 'product' %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <a class="breadcrumbs__link" href="/collections/all">Products</a>
    {% if collection.url %}
      {% unless collection.handle == 'all' or collection.handle == 'most-popular' or collection.handle == 'featured' %}
        <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
        <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
      {% endunless %}
    {% elsif product.collections.size %}
      {% for coll in product.collections %}
        {% if coll.handle == 'all' or coll.handle == 'most-popular' or coll.handle == 'featured' %}
          {% continue %}
        {% endif %}
        <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
        <a class="breadcrumbs__link" href="{{ coll.url }}">{{ coll.title }}</a>
        {% break %}
      {% endfor %}
    {% endif %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <span class="breadcrumbs__current">{{ product.title }}</span>
  {% elsif template contains 'collection' and collection.handle %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <a class="breadcrumbs__link" href="/collections/all">Products</a>
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
      <span class="breadcrumbs__current">{{ current_tags | join: " + " }}</span>
    {% else %}
      <span class="breadcrumbs__current">{{ collection.title }}</span>
    {% endif %}
  {% elsif template == 'blog' %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
    <span class="breadcrumbs__current">{{ blog.title }}</span>
    {% endif %}
  {% elsif template == 'article' %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <span class="breadcrumbs__current">{{ article.title }}</span>
  {% else %}
    <span class="breadcrumbs__separator" aria-hidden="true" >&rsaquo;</span>
    <span class="breadcrumbs__current">{{ page_title }}</span>
  {% endif %}
</nav>