<div class="cart-table__wrap">
  <div class="cart-table__responsive-header d-xl-none">Cart content</div>
  {% if cart.item_count > 4 %}
    <div class="cart-table__update-wrap">
      <input class="cart-table__update" type="submit" name="update" value="{{ 'cart.general.update' | t }}">
    </div>
  {% endif %}
  <div class="responsive-table">
    <table class=" cart-table">
      <thead class="cart-table__thead">
        <tr>
          <th class="cart-table__cell cart-table__cell--head">{% comment %} image {% endcomment %}</th>
          <th class="cart-table__cell cart-table__cell--head text-left">{{ 'cart.label.product' | t }}</th>
          <th class="cart-table__cell cart-table__cell--head">{{ 'general.glossary.size' | t }}</th>
          <th class="cart-table__cell cart-table__cell--head">{{ 'cart.label.price' | t }}</th>
          <th class="cart-table__cell cart-table__cell--head cart-table__cell--last">{{ 'general.glossary.quantity' | t }}</th>
        </tr>
      </thead>
      <tbody>

        {% for item in cart.items %}
          {% if item.product.tags contains "training-course"  %}
            {% assign is_training = true %}
          {% endif %}
          {% assign hidden = false %}
          {% if item.product.tags contains "hidden-product"  %}
            {% assign hidden = true %}
          {% endif %}
          {% if is_training  %}
            {% assign hidden = false %}
          {% endif %}

          {% unless hidden %}
            {% comment %} hide only certain aspects of this product {% endcomment %}
            {% if item.product.tags contains "obscured-product" %}
              {% assign obscured = true %}
            {% else %}
              {% assign obscured = false %}
            {% endif %}

            <tr class="responsive-table-row cart-table__row">

              <td class="cart-table__cell cart-table__cell--image d-none d-md-table-cell text-left {% unless forloop.last %}cart-table__cell--border{% endunless %}">
                {% if item.image != blank %}
                  <a href="{{ item.url | within: collections.all }}">
                    {{ item | img_url: '60x60' | img_tag: item.title }}
                  </a>
                {% endif %}
              </td>

              <td class="cart-table__cell d-none d-md-table-cell text-left {% unless forloop.last %}cart-table__cell--border{% endunless %}">
                <h3 class="cart-table__product-title">
                  <a class="cart-table__product-link" href="{{ item.url }}">{{ item.product.title }}</a>
                </h3>
                <div class="cart-table__product-id">{{ 'cart.label.product' | t }} ID. {{ item.sku }}</div>
                {% if is_training %}
                  <a class="cart-table__remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                {% elsif obscured %}
                  {% comment %} show nothing, except if product. no not operator  {% endcomment %}
                {% else %}
                  <a class="cart-table__remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                {% endif %}
              </td>

              <td class="cart-table__cell d-none d-md-table-cell text-center {% unless forloop.last %}cart-table__cell--border{% endunless %}">
                {% unless item.product.has_only_default_variant %}
                  <div class="cart-table__option">
                    {{ item.variant.title }}
                  </div>
                {% endunless %}
              </td>

              <td class="cart-table__cell d-none d-md-table-cell text-center {% unless forloop.last %}cart-table__cell--border{% endunless %}">
                {% unless obscured %}
                  <div class="cart-table__price">
                    {% if item.original_line_price != item.line_price %}
                      <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                      {{ item.price | money }}
                      <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                      <s>{{ item.original_price | money }}</s>
                    {% else %}
                      {{ item.price | money }}
                    {% endif %}
                  </div>
                {% endunless %}
              </td>

              <td class="cart-table__cell cart-table__cell--last {% unless forloop.last %}cart-table__cell--border{% endunless %}">
                {% comment %} because input uses unique ids, put all other content in this cell on responsive {% endcomment %}
                <div class="d-md-none">
                  <div class="cart-table__rsp-image-wrap">
                    {% if item.image != blank %}
                      <a href="{{ item.url | within: collections.all }}">
                        {{ item | img_url: '60x60' | img_tag: item.title }}
                      </a>
                    {% endif %}
                  </div>
                  <div class="cart-table__rsp-content">
                    <h3 class="cart-table__rsp-title">
                      <a class="cart-table__rsp-link" href="{{ item.url }}">{{ item.product.title }}</a>
                      {% unless obscured %}
                        <span class="cart-table__rsp-price">
                          {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            {{ item.price | money }}
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            <s>{{ item.original_price | money }}</s>
                          {% else %}
                            {{ item.price | money }}
                          {% endif %}
                        </span>
                      {% endunless %}
                    </h3>

                    <div class="cart-table__rsp-info">
                      {% unless item.product.has_only_default_variant %}
                        <span class="cart-table__rsp-option">{{ item.variant.title }}</span>
                      {% endunless %}
                      <span class="cart-table__rsp-id">{{ 'cart.label.product' | t }} ID. {{ item.sku }} {% comment %} {{ item.sku }} {% endcomment %}</span>
                    </div>
                    {% if is_training %}
                      <a class="cart-table__rsp-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                    {% elsif obscured %}
                      {% comment %} show nothing, except if product {% endcomment %}
                    {% else %}
                      <a class="cart-table__rsp-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                    {% endif %}
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                {% if is_training %}
                  <div class="cart-table__price text-center">
                    {{ item.quantity }}
                  </div>
                {% elsif obscured %}
                  {% comment %} show nothing, except if product. no not operator  {% endcomment %}
                {% else %}
                  <div class="cart-table__quantity">
                    <button type="button" class="cart-table__quantity-button" data-qty-change="[product-qty-{{ forloop.index }}]" data-direction="down">-</button>
                    <input
                      class="cart-table__quantity-input"
                      type="number"
                      name="updates[]"
                      id="updates_{{ item.key }}"
                      value="{{ item.quantity }}"
                      min="0"
                      aria-label="{{ 'cart.general.item_quantity' | t }}"
                      product-qty-{{ forloop.index }}/>
                    <button type="button" class="cart-table__quantity-button" data-qty-change="[product-qty-{{ forloop.index }}]" data-direction="up">+</button>
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endunless %}


        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="cart-table__update-wrap">
    <input class="cart-table__update" type="submit" name="update" value="{{ 'cart.general.update' | t }}">
  </div>
</div>