<div class="cart-summary">
  <h2 class="cart-summary__title">Order summary</h2>
  <div class="cart-summary__totals">
    <span class="cart-summary__totals-text">{{ 'cart.general.subtotal' | t }}</span>
    <span class="cart-summary__totals-price">{{ cart.total_price | money }}</span>
  </div>

  {% if cart.total_discounts > 0 %}
    <div class="cart-summary__totals">
      <span class="cart-summary__totals-text">{{ 'cart.general.savings' | t }}</span>
      <span class="cart-summary__totals-text">{{ cart.total_discounts | money }}</span>
    </div>
  {% endif %}

  <input class="cart-summary__checkout-button" type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}"/>

  {% assign totals = cart.total_price %}
  {% assign threshold = 60000 %}

  {% if totals < threshold %}
    <span class="wholesale-order__shipping-check">You are {{ threshold | minus: totals | money }} away form free shipping</span>
  {% else %}
    <span class="wholesale-order__shipping-check">You are eligible for free shipping</span>
  {% endif %}

  <p class="cart-summary__note">{{ 'cart.general.shipping_at_checkout' | t }}</p>

  {% if settings.cart_notes_enable %}
    <label class="cart-summary__label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
    <textarea class="cart-summary__textarea" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
  {% endif %}

  {% include 'usp-triple-icons' %}
</div>