{% comment %} split shopify cdn image src {% endcomment %}
{%- assign page_object = case-study-item.object -%}
{%- assign page_meta = page_object.metafields.info_center -%}
{% if page_meta.image and page_meta.image != '' %}
  {% assign img_src = '' %}
  {% assign img_src = page_meta.image %}
  {% assign src_split = '' %}
  {% if img_src contains '.jpg' and img_src contains 'cdn.shopify' %}
    {% assign src_split = img_src | split: '.jpg' %}
    {% assign type = '.jpg' %}
  {% elsif img_src contains '.png' and img_src contains 'cdn.shopify' %}
    {% assign src_split = img_src | split: '.png' %}
    {% assign type = '.png' %}
  {% endif %}
{% endif %}

<div class="case-study-item flex-col-wrap">
  {% comment %} TODO remove the placeholder when done with development {% endcomment %}

  <div class="case-study-item__comparison">
    {%- include 'image-compare'
      with before: "http://via.placeholder.com/800x600",
      after:"http://via.placeholder.com/400x300",
      initial: 50,
      indicators: true
    -%}
  </div>

  <a class="case-study-item__block-link" href="{{ case-study-item.url }}">
    <h3 class="case-study-item__title">{{ case-study-item.title }}</h3>
    <span class="case-study-item__content">
      {% if page_meta.excerpt %}
        <span class="case-study-item__description">{{ page_meta.excerpt }}</span>
      {% else %}
        <span class="case-study-item__description">{{ page_object.content }}</span>
      {% endif %}
    </span>
  </a>
  <div class="flex-shaper"></div>
  <a href="{{ case-study-item.url }}" class="case-study-item__link">
    <span class="case-study-item__text">View Case Study</span>
    <span class="case-study-item__icon icon-angle-right"></span>
  </a>
</div>
