{% comment %} split shopify cdn image src {% endcomment %}
{%- assign page_object = case-study-item.object -%}
{%- assign page_meta = page_object.metafields.info_center -%}
{% assign img_src_after = "" %}
{% assign img_src_before = "" %}
{% if page_meta.before and page_meta.before != '' and page_meta.after and page_meta.after != '' %}
  {% assign img_src_before = page_meta.before %}
  {% if img_src_before contains '.jpg' and img_src_before contains 'cdn.shopify' %}
    {% assign src_split = img_src_before | split: '.jpg' %}
    {% assign type = '.jpg' %}
  {% elsif img_src_before contains '.png' and img_src_before contains 'cdn.shopify' %}
    {% assign src_split = img_src_before | split: '.png' %}
    {% assign type = '.png' %}
  {% endif %}
  {% assign img_src_before = src_split[0] | append: '_600x' | append: type %}

  {% assign img_src_after = page_meta.after %}
  {% assign src_split = "" %}
  {% if img_src_after contains '.jpg' and img_src_after contains 'cdn.shopify' %}
    {% assign type = '.jpg' %}
    {% assign src_split = img_src_after | split: '.jpg' %}
  {% elsif img_src_after contains '.png' and img_src_after contains 'cdn.shopify' %}
    {% assign type = '.png' %}
    {% assign src_split = img_src_after | split: '.png' %}
  {% endif %}
  {% assign img_src_after = src_split[0] | append: '_600x' | append: type %}
{% else %}
{% endif %}

<div class="case-study-item flex-col-wrap">
  <div class="case-study-item__comparison">
    {% if img_src_before != '' and img_src_after != '' %}
      {%- include 'image-compare'
        with before: img_src_before,
        after: img_src_after,
        initial: 50,
        indicators: true
      -%}
    {% endif %}
  </div>

  <a class="case-study-item__block-link" href="{{ case-study-item.url }}">
    <h3 class="case-study-item__title">{{ case-study-item.title }}</h3>
    <span class="case-study-item__content">
      {% if page_meta.excerpt %}
        <span class="case-study-item__description">{{ page_meta.excerpt }}</span>
      {% else %}
        <span class="case-study-item__description">{{ page_object.content }}</span>
      {% endif %}
    </span>
  </a>
  <div class="flex-shaper"></div>
  <a href="{{ case-study-item.url }}" class="case-study-item__link">
    <span class="case-study-item__text">View Case Study</span>
    <span class="case-study-item__icon icon-angle-right"></span>
  </a>
</div>
