<div class="footer-newsletter">
  <p class="footer-newsletter__text">{{ section.settings.newsletter_text }}</p>
  <form action="#" class="footer-newsletter__form">
    <input type="text" class="footer-newsletter__input" placeholder="Enter your email">
    <input type="submit" class="footer-newsletter__submit" value="SUBSCRIBE">
  </form>
</div>
{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo, LinkedIn' | split: ', ' -%}
<div class="site-footer__socials">
  {% for social in social_accounts %}
    {%- assign social_handle = social | handleize -%}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

    {% if settings[social_link] != blank %}
      <a href="{{ settings[social_link] }}" class="site-footer__social" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
        <span class="site-footer__social-icon {{ social_icon }}"></span>
      </a>
    {% endif %}

  {% endfor %}
</div>