<div class="footer-newsletter">
  {% if section.settings.newsletter_text != blank %}
    <label class="footer-newsletter__text" for="Email">{{ section.settings.newsletter_text | escape }}</label>
  {% endif %}

  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="footer-newsletter__thanks">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <div class="footer-newsletter__form">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email"
          name="contact[email]"
          class="footer-newsletter__input"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
          autocorrect="off"
          autocapitalize="off"
          data-newsletter-input>
        <button type="submit" class="footer-newsletter__submit" name="commit" data-newsletter-submit disabled title="Enter a valid email">
          <span class="footer-newsletter__submit-text">{{ 'general.newsletter_form.submit' | t }}</span>
        </button>
      </div>
    {% endif %}
  {% endform %}
</div>

{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo, LinkedIn' | split: ', ' -%}
<div class="site-footer__socials">
  {% for social in social_accounts %}
    {%- assign social_handle = social | handleize -%}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

    {% if settings[social_link] != blank %}
      <a href="{{ settings[social_link] }}" class="site-footer__social" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
        <span class="site-footer__social-icon {{ social_icon }}"></span>
      </a>
    {% endif %}

  {% endfor %}
</div>
