<div class="utility-nav">
  <a href="#swym-wishlist" class="utility-nav__icon-wrap">
    <span aria-hidden="true" focusable="false" role="presentation" class="icon-heart utility-nav__icon"></span>
  </a>

  <button type="button" class="utility-nav__icon-wrap" data-header-search-toggle>
    <span class="icon-search utility-nav__icon"></span>
  </button>

  <form action="/search" method="get" role="search" class="utility-nav__searchform" data-header-search-form>
    <label for="Search" class="hide">{{ 'general.search.placeholder' | t }}</label>

    <input
      class="utility-nav__input"
      type="search"
      name="q"
      id="Search"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.placeholder' | t }}"/>

    <button type="submit" class="utility-nav__search-button">
      <span class="icon-search utility-nav__icon"></span>
      <span class="hide">{{ 'general.search.submit' | t }}</span>
    </button>
  </form>
  <div class="search-results" data-header-search-results></div>

  {% if shop.customer_accounts_enabled %}
    <a href="/account" rel="nofollow" class="utility-nav__icon-wrap">
      <span class="icon-user-o utility-nav__icon"></span>
    </a>
  {% endif %}

  <a href="/cart" class="utility-nav__icon-wrap" data-cart-count-position>
    <span class="icon-shopping-cart utility-nav__icon"></span>
    {% if cart.item_count > 0 %}
      <span class="utility-nav__count" data-cart-count>{{ cart.item_count }}</span>
    {% endif %}
  </a>

  {% unless customer and customer.tags contains "training_approved" %}
    <a href="/pages/certification-test" class="utility-nav__big-button">Get Certified</a>
  {% endunless %}
</div>