{% assign modulo = index | modulo: 2 %}
{% assign p_tags = product-item.tags %}
{%- assign current_p_i_variant = product-item.selected_or_first_available_variant -%}
{%- assign featured_image = current_p_i_variant.featured_image | default: product-item.featured_image -%}

{% comment %} obscured product - when we show the product, but cannot allow adding it to cart {% endcomment %}
{% assign obscured_product = false %}
{% if p_tags contains "obscured-product" %}
  {% assign obscured_product = true %}
{% endif %}

<div class="product-item {% if modulo == 0 %}product-item--even{% else %}product-item--odd{% endif %}" itemscope itemtype="http://schema.org/Product" data-product-item="{{ product-item.id }}">
  <meta itemprop="name" content="{{ product-item.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product-item.url }}">
  {% if featured_image contains "http://" or featured_image contains "https://" %}
    <meta itemprop="image" content="{{ featured_image | img_url: '800x' }}">
  {% else %}
    <meta itemprop="image" content="https:{{ featured_image | img_url: '800x' }}">
  {% endif %}
  <meta itemprop="description" content="{{ product-item.description | strip_html | escape }}">
  <meta itemprop="sku" content="{{ current_p_i_variant.sku }}">
    <meta itemprop="id" content="{{ current_p_i_variant.id }}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer" style="display:none;">
    <link itemprop="availability" href="http://schema.org/{% if product-item.available %}InStock{% else %}OutOfStock{% endif %}">
    <span itemprop="priceCurrency">{{ shop.currency }}</span>
    <span itemprop="lowPrice">{{ product-item.price_min | divided_by: 100.00 }}</span> to <span itemprop="highPrice">{{ product-item.price_max | divided_by: 100.00 }}</span>
  </div>

  <div class="product-item__background"></div>

  {% include 'swym-product-view', product: product-item %}
  <button class="product-item__wishlist-link product_{{ product-item.id }}" data-swaction="addToWishlist" data-product-id="{{ product-item.id | json }}">
    <span class="icon-heart product-item__wishlist-icon"></span>
  </button>

  <a href="{{ product-item.url | within: collection }}" class="product-item__link">
    <span class="product-item__tag-wrap">
      {% include 'product-tags' with product-item %}
    </span>

    {% if featured_image %}
      {% for image in product-item.images %}
        {% capture wrapper_class %}product-item__image-wrap {% unless featured_image == image %} hide{% endunless %}{% endcapture %}
        {% include 'responsive-image' with
          image: image,
          image_attributes: "data-product-featured-image",
          wrapper_attributes: "data-product-image-wrapper",
          wrapper_class: wrapper_class,
          image_class: 'product-item__image',
          max_width: 370,
          max_height: 370,
          span: true,
        %}
      {% endfor %}
    {% else %}
      <span class="product-item__image-wrap"></span>
    {% endif %}

    <h4 class="product-item__title">{{ product-item.title }}</h4>
    <span class="product-item__description">{{ product-item.description | strip_html | truncatewords: 15 }}</span>
  </a>

  <div class="flex-shaper"></div>

  {% unless obscured_product %}
    <div class="product-item__price" data-product-item-price-wrapper>
      <span data-product-item-price>
        {{ current_p_i_variant.price | money }}
      </span>
      <s data-product-item-compare-price>
        {% if current_p_i_variant.compare_at_price > current_p_i_variant.price %}
          {{ current_p_i_variant.compare_at_price | money }}
        {% endif %}
      </s>
    </div>

    <span class="shopify-product-reviews-badge" data-id="{{ product-item.id }}"></span>

    <form class="product-item__form d-none d-md-block" action="/cart/add" method="post" enctype="multipart/form-data">
      <input type="hidden" name="product-id" value="{{ product-item.id }}"/>
      <input type="hidden" name="product-title" value="{{ product-item.title }}"/>
      <select name="id" class="no-js" data-product-item-select>
        {% for variant in product-item.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      {% assign var_selected = false %}
      {% unless product-item.has_only_default_variant %}
        {% for option in product-item.options_with_values %}
          {% comment %} <div class="product-item__option-name">{{ option.name }}</div> {% endcomment %}
          <div class="product-item__variants-wrap {% if forloop.last %}product-item__variants-wrap--last{% endif %}" data-product-item-option>
            {% for value in option.values %}
              <div class="product-item__variant-wrap"
                {% if value contains "backbar" or value contains "Backbar" %}
                  data-variant-availability="backbar"
                {% else %}
                  data-variant-availability="retail"
                {% endif %}>
                <input
                  class="product-item__variant"
                  type="radio"
                  name="variation-radio-{{ option.name | handleize }}"
                  value="{{ value | escape }}"
                  data-product-item-option-input
                  data-index="option{{ option.position }}"
                  {% if product-item.available %}
                    {% if forloop.index == 1 %}
                      checked="checked"
                    {% endif %}
                  {% endif %}
                  />
                <label class="product-item__variant-label">
                  <span class="product-item__variant-label-span">{{ value }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endunless %}

      <div class="product-item__qty-wrap">
        <button type="button" class="product-item__quantity-button" data-qty-change="#qty-{{ product-item.id }}" data-direction="down">-</button>
        <input class="product-item__quantity" type="number" id="qty-{{ product-item.id }}" name="quantity" value="1" min="1" max="{{ current_p_i_variant.inventory_quantity }}">
        <button type="button" class="product-item__quantity-button" data-qty-change="#qty-{{ product-item.id }}" data-direction="up">+</button>
      </div>

      <button
        class="product-item__form-submit"
        type="submit"
        name="add"
        data-add-to-cart
        data-product-item-add-button
        {% unless product-item.available %}disabled="disabled"{% endunless %}>
          <span data-add-button-text>
            {% if product-item.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </form>

    {% endunless %}

  <div class="text-center d-md-none">
    <a href="{{ product-item.url }}" class="product-item__form-submit ">Learn more</a>
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-item-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>