{% assign modulo = index | modulo: 2 %}
{% assign p_tags = product-item.tags %}
{%- assign current_p_i_variant = product.selected_or_first_available_variant -%}

<div class="product-item {% if modulo == 0 %}product-item--even{% else %}product-item--odd{% endif %}" itemscope itemtype="http://schema.org/Product" data-product-item>
  <meta itemprop="name" content="{{ prod.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ prod.url }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '800x' }}">
  <meta itemprop="description" content="{{ prod.description | strip_html | escape }}">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ prod.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if prod.available %}InStock{% else %}OutOfStock{% endif %}">
  <div class="product-item__background"></div>
  <a href="{{ product-item.url | within: collection }}" class="product-item__link">
    <span class="product-item__tag-wrap">
      {% include 'product-tags' with product-item %}
    </span>
    {% if product-item.featured_image != blank %}
      {% include 'responsive-image' with
        image: product-item.featured_image,
        wrapper_class: 'product-item__image-wrap',
        image_class: 'product-item__image',
        max_width: 370,
        max_height: 370,
        span: true,
      %}
    {% endif %}
    <h4 class="product-item__title">{{ product-item.title }}</h4>
    <div class="product-item__description">{{ product-item.description | strip_html | truncatewords: 15 }}</div>
    {% if p_tags contains "authorization" %}
      <div class="product-item__authorization">Needs authorization</div>
      <span class="hide" data-authorization-required=true></span>
    {% else %}
      <span class="hide" data-authorization-required=false></span>
    {% endif %}
  </a>

  <div class="flex-shaper"></div>

  <div class="product-item__price" data-product-item-price-wrapper>
    <span data-product-item-price>
      {{ current_p_i_variant.price | money }}
    </span>
    <s data-product-item-compare-price>
      {% if current_p_i_variant.compare_at_price > current_p_i_variant.price %}
        {{ current_p_i_variant.compare_at_price | money }}
      {% endif %}
    </s>
  </div>

  <form class="product-item__form d-none d-md-block" action="/cart/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="product-id" value="{{ product.id }}"/>
    <input type="hidden" name="product-title" value="{{ product.title }}"/>
    <select name="id" class="no-js" data-product-item-select>
      {% for variant in product-item.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
            {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    {% assign var_selected = false %}
    {% unless product-item.has_only_default_variant %}
      {% for option in product-item.options_with_values %}
        <div class="product-item__option-name">{{ option.name }}</div>
        <div class="product-item__variants-wrap {% if forloop.last %}product-item__variants-wrap--last{% endif %}" data-product-item-option>
          {% for value in option.values %}
            <div class="product-item__variant-wrap">
              <input
                class="product-item__variant"
                type="radio"
                name="variation-radio-{{ option.name | handleize }}"
                value="{{ value | escape }}"
                data-product-item-option-input
                data-index="option{{ option.position }}"
                {% if product-item.available %}
                  {% if forloop.index == 1 %}
                    checked="checked"
                  {% endif %}
                {% endif %}
                />
              <label class="product-item__variant-label">{{ value }}</label>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endunless %}

    <button
      class="product-item__form-submit"
      type="submit"
      name="add"
      data-add-to-cart
      data-product-item-add-button
      {% unless product-item.available %}disabled="disabled"{% endunless %}>
        <span data-add-button-text>
          {% if product-item.available %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
    </button>
  </form>

  <div class="text-center d-block d-md-none">
    <a href="{{ product.url }}" class="product-item__form-submit ">Learn more</a>
  </div>


  {% unless product == empty %}
    <script type="application/json" data-product-item-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>