{% assign modulo = index | modulo: 2 %}
<div class="product-item {% if modulo == 0 %}product-item--even{% else %}product-item--odd{% endif %}" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ prod.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ prod.url }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '800x' }}">
  <meta itemprop="description" content="{{ prod.description | strip_html | escape }}">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ prod.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if prod.available %}InStock{% else %}OutOfStock{% endif %}">
  <div class="product-item__background"></div>
  <a href="{{ product-item.url | within: collection }}" class="product-item__link">
    <span class="product-item__tag-wrap">
      {% include 'product-tags' with product-item %}
    </span>
    {% if product-item.featured_image != blank %}
      <span class="product-item__image-wrap">
        {% include 'responsive-image' with image: product-item.featured_image, max_width: 370, max_height: 370, span: true,  %}
      </span>
    {% endif %}
    <h4 class="product-item__title">{{ product-item.title }}</h4>
    <div class="product-item__description">{{ product-item.description | strip_html | truncatewords: 20 }}</div>
    <div class="product-item__authorization">Needs authorization</div>
  </a>

  <div class="flex-shaper"></div>

  <div class="product-item__price">
    <div data-price-wrapper>
      <div data-product-price>
        {{ product-item.price | money }}
      </div>

      {% if product-item.compare_at_price_max > product-item.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if product-item.compare_at_price > product-item.price %}
            {{ product-item.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>
  </div>

  <form class="product-item__form" action="/cart/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id"  value="{{ product-item.variants[0].id }}" />
    <button
      class="product-item__form-submit"
      type="submit"
      name="add"
      data-add-to-cart
      {% unless product-item %}disabled="disabled"{% endunless %}>
        <span data-add-to-cart-text>
          {% if product-item.available %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
    </button>
  </form>
</div>