{% assign tabs = product.metafields.tabs %}
{% if tabs %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="product-tabs" data-tabs-container>
          <div class="product-tabs__header">
            {% for tab in tabs %}
              {%- assign tab_f = tab[0] | replace: '-', ' ' | replace: '_', ' ' | capitalize -%}
              <a href="#" class="product-tabs__link {% if forloop.index == 1 %}active{% endif %}" data-tab-link="{{ forloop.index }}">{{ tab_f }}</a>
            {% endfor %}
          </div>
          <div class="product-tabs__content">
            {% for tab in tabs %}
              <div class="product-tabs__tab {% if forloop.index == 1 %}active{% endif %}" data-tab="{{ forloop.index }}">
                {% if tab[1] contains "--SPLIT--" %}
                  {% assign tab_content = tab[1] | split: '--SPLIT--' %}
                  <div class="row">
                    {% for sub_tab in tab_content %}
                      <div class="col-md-6">
                        {{ sub_tab }}
                      </div>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ tab[1] }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
