<div class="cart-table__wrap responsive-table">
  <table class="cart-table">
    <thead class="cart-table__thead keep-on-small">
      <tr>
        <th class="cart-table__cell cart-table__cell--head"></th>
        <th class="cart-table__cell cart-table__cell--head text-left">Item</th>
        <th class="cart-table__cell cart-table__cell--head">{{ 'general.glossary.size' | t }}</th>
        <th class="cart-table__cell cart-table__cell--head">{{ 'cart.label.price' | t }}</th>
        <th class="cart-table__cell cart-table__cell--head">{{ 'general.glossary.quantity' | t }}</th>
        <th class="cart-table__cell cart-table__cell--head cart-table__cell--info" data-wholesale-in-cart-qty-header style="display:none">
          <span>{{ 'layout.cart.title' | t }} {{ 'general.glossary.quantity' | t }}</span>
          <span class="information-popup">
            <span class="information-popup__marker">?</span>
            <span class="information-popup__message">This column represents the quantity already in your cart. To adjust this quantity, please visit your cart.</span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody data-wholesale-table-body>
      {% comment %} filled with Ajax - API - wholesale-order.js {% endcomment %}
    </tbody>
  </table>
</div>