<div class="account-pages">
  <div class="register">
    <div class="row no-gutters">
      <div class="col-md-6 justify-content-center flex-col-wrap">
        {% if section.settings.bg %}
          {% include 'responsive-image' with
            image: section.settings.bg,
            max_width: 1024,
            max_height: 1024,
            wrapper_class: 'register__image-wrap',
            img_class: 'register__image'
          %}
        {% else %}
          <div class="register__image-wrap">
            <img src="{{ '../../assets/images/signupbg.png' | asset_img_url: '1024x1024' }}" alt="Register" class="register__image"/>
          </div>
        {% endif %}
      </div>
      <div class="col-md-6 justify-content-center flex-col-wrap">
        <div class="register__registration">

          <h1 class="register__registration-title">Registration</h1>
          <p class="register__registration-info-note">Please enter your information to create an account</p>
          <div class="register__registration-form" data-register-form-parent>
            {% form 'create_customer' %}
              {{ form.errors | default_errors }}


              <div class="register__input-wrap">
                <label for="Name" class="label-hidden">Full name</label>
                <input type="text"
                  class="register__input"
                  name="customer[name]"
                  id="Name"
                  placeholder="Full name"
                  autofocus
                  {% if form.first_name %}value="{{ form.name }}"{% endif %}
                  data-register-name/>
              </div>

              <div class="register__input-wrap register__input-wrap--margin">
                <label for="Email" class="label-hidden">{{ 'customer.register.email' | t }}</label>
                <input type="email"
                  class="register__input register__input--bordermerge"
                  name="customer[email]"
                  id="Email"
                  class="{% if form.errors contains 'email' %}input-error{% endif %}"
                  placeholder="{{ 'customer.register.email' | t }}"
                  value="{% if form.email %}{{ form.email }}{% endif %}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  data-register-email/>
              </div>

              <div class="register__input-wrap">
                <label for="CreatePassword" class="label-hidden">{{ 'customer.register.password' | t }}</label>
                <input type="password"
                  class="register__input"
                  name="customer[password]"
                  id="CreatePassword"
                  class="{% if form.errors contains 'password' %}input-error{% endif %}"
                  placeholder="{{ 'customer.register.password' | t }}"
                  data-register-password/>
              </div>

              <div class="register__input-wrap register__input-wrap--margin">
                <label for="CreatePasswordConfirm" class="label-hidden">Repeat password</label>
                <input type="password"
                  class="register__input register__input--bordermerge"
                  name="customer[password_confirmation]"
                  id="CreatePasswordConfirm"
                  class="{% if form.errors contains 'password' %}input-error{% endif %}"
                  placeholder="Repeat password"
                  data-register-password-check/>
              </div>

              <div>
                <input class="register__submit" type="submit" value="Create account" data-register-submit />
              </div>
            {% endform %}
            <div class="error-message" data-register-error-message style="display:none"></div>
          </div>
          <span class="register__have-account">Already have an account?</span>
          <a href="/account/login" class="register__have-account-link">Log in</a>
          <div class="register__link-separator"></div>
          <a href="#" class="register__professionals" data-site-link-change>Customers click here</a>
        </div>
      </div>
    </div>
  </div>
</div>


