{% comment %} todo - image {% endcomment %}
<div class="account-pages">
  <div class="register">
    <div class="row no-gutters">
      <div class="col-md-6 justify-content-center flex-col-wrap">
        <div class="register__image-wrap">
          {% comment %} TODO remove the placeholder when done with development {% endcomment %}
          <img src="http://via.placeholder.com/1024x1024" alt="" class="register__image">
        </div>
      </div>
      <div class="col-md-6 justify-content-center flex-col-wrap">
        <div class="register__registration">
          <h1 class="register__registration-title">{{ 'customer.reset_password.title' | t }}</h1>
          <p class="register__registration-info-note">{{ 'customer.reset_password.subtext' | t }}</p>

          {% form 'activate_customer_password' %}
            {{ form.errors | default_errors }}

            <div class="register__input-wrap">

            <input
              class="register__input {% if form.errors contains 'password' %}input-error{% endif %}"
              type="password"
              name="customer[password]"
              id="ResetPassword"
              placeholder="{{ 'customer.reset_password.password' | t }}"/>
            </div>

            <div class="register__input-wrap register__input-wrap--margin">

            <input
              class="register__input register__input--bordermerge {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
              type="password"
              name="customer[password_confirmation]"
              id="PasswordConfirmation"
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}"/>
            </div>

            <div class="register__input-wrap register__input-wrap--submit">
              <input type="submit" class="register__submit" value="{{ 'customer.reset_password.submit' | t }}">
            </div>
          {% endform %}

        </div>
      </div>
    </div>
  </div>
</div>