<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 order-md-2 order-lg-1 order-3">
        {% include 'footer-navigation' %}
      </div>
      <div class="col-lg-4 col-md-12 order-md-1 order-lg-2 order-1">
        <div class="site-footer__logo-wrap">
          <a href="/" class="site-footer__logo-link">
            {% if section.settings.logo != blank %}
              <img
                class="site-footer__logo"
                src="{{ section.settings.logo | img_url: '180x' }}"
                srcset="{{ section.settings.logo | img_url: '180x' }} 1x, {{ section.settings.logo | img_url: '180x', scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
              />
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 order-lg-3 order-md-3 order-2">
        {% include 'footer-social' %}
      </div>
    </div>
    <p class="site-footer__copyright">&copy; {{ 'Face Reality Acne Clinic' | link_to: '/' }} 2012-{{ 'now' | date: "%Y" }} &middot; All Rights Reserved &middot; {{ powered_by_link }}</p>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "textarea",
        "id": "newsletter_text",
        "label": "Newsletter Text"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      }
    ]
  }

{% endschema %}
