<section class="home-testimonials">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-10">
        <h3 class="home-testimonials__suptitle">{{ section.settings.suptitle }}</h3>
        <h2 class="home-testimonials__title">{{ section.settings.title }}</h2>
      </div>
    </div>
  </div>

  <div class="home-testimonials__container">
    <div class="js-video-testimonials-slider">
      {% for block in section.blocks %}
        {% if block.type == "video" %}
          <div class="home-testimonials__video-wrap">
            <div class="home-testimonials__video"></div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="home-testimonials__container">
    <div class="js-testimonials-slider">
      {% for block in section.blocks %}
        {% if block.type == "testimonial" %}
          <div class="home-testimonials__testimonial">
            {% if block.settings.image %}
              {% include 'responsive-image'
                with image: block.settings.image,
                max_width: 350,
                max_height: 350,
                wrapper_class: 'home-testimonials__testimonial-image-wrap',
                image_class: 'home-testimonials__testimonial-image'
              %}
            {% else %}
            {% comment %} TODO remove the placeholder when done with development {% endcomment %}
              <div class="home-testimonials__testimonial-image-wrap">
                <img src="http://via.placeholder.com/340x340" alt="" class="home-testimonials__testimonial-image">
              </div>
            {% endif %}
            <div class="home-testimonials__testimonial-info">
              <span class="home-testimonials__testimonial-name">{{ block.settings.title }}</span>
              <span class="home-testimonials__testimonial-date">{{ block.settings.date }}</span>
            </div>
            {% include 'zig-line-separator' %}
            <p class="home-testimonials__testimonial-text">{{ block.settings.testimonial }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.button_text != '' %}
      <div class="home-testimonials__button-wrap">
        <a href="{{ section.settings.button_url }}" class="home-testimonials__button">{{ section.settings.button_text }}</a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "type": "text",
        "id": "suptitle",
        "label": "Suptitle"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Link Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link URL"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "textarea",
            "id": "testimonial",
            "label": "Testimonial Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "video",
            "label": "Video ?"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Testimonials",
        "category": "Front Page"
    }]
  }
{% endschema %}
