<section class="collection-by-type max-wrap" data-tabs-container>
  <div class="collection-by-type__tabs">
    <div class="container">
      <div class="row no-gutters justify-content-center">
        <div class="col-auto">
          <a href="#" class="collection-by-type__tabs-link active" data-tab-link="1"><span class="collection-by-type__tabs-text">{{ section.settings.title_tab_1 }}</span></a>
        </div>
        <div class="col-auto">
          <a href="#" class="collection-by-type__tabs-link" data-tab-link="2"><span class="collection-by-type__tabs-text">{{ section.settings.title_tab_2 }}</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="collection-by-type__type active" data-tab="1">
    <div class="row no-gutters">
      {% assign index_t1 = 1 %}
      {% comment %} looped the same array twice, because we can't know in what order the user will add blocks {% endcomment %}
      {% for block in section.blocks %}
        {% if block.type == 'tab-1' %}
          <div class="col-lg col-md-4 col-6 col-count">
            {% assign collection_block = collections[block.settings.collection] %}
            <div class="collection-by-type__visible-col index-{{ index_t1 }}">
              <div class="collection-by-type__visible-col-inner">
                <h3 class="collection-by-type__col-title">{{ collection_block.title }}</h3>
                <span class="collection-by-type__visible-col-arrow icon-angle-right"></span>
              </div>
            </div>
            <a href="{{ collection_block.url }}" class="collection-by-type__hover-col">
              <span class="collection-by-type__hover-col-header">
                <h3 class="collection-by-type__col-title">{{ collection_block.title | truncate: 30 }}</h3>
              </span>
              {% include 'responsive-image' with
                image: collection_block.image,
                wrapper_class: 'collection-by-type__hover-col-image-wrap',
                image_class: 'collection-by-type__hover-col-image',
                alt: collection_block.title
                max_width: 360,
                max_height: 285,
                span: true
              %}
              <span class="collection-by-type__hover-col-content">
                <span class="collection-by-type__hover-col-text">{{ collection_block.description | strip_html | truncatewords: 15 }}</span>
                <span class="collection-by-type__hover-col-link">See products</span>
              </span>
            </a>
          </div>
          {% assign index_t1 = index_t1 | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="collection-by-type__type" data-tab="2">
    <div class="row no-gutters">
      {% assign index_t2 = 1 %}
      {% for block in section.blocks %}
        {% if block.type == 'tab-2' %}
          <div class="col-lg col-md-4 col-6 col-count">
            {% assign collection_block = collections[block.settings.collection] %}
            <div class="collection-by-type__visible-col index-{{ index_t2 }}">
              <div class="collection-by-type__visible-col-inner">
                <h3 class="collection-by-type__col-title">{{ collection_block.title }}</h3>
                <span class="collection-by-type__visible-col-arrow icon-angle-right"></span>
              </div>
            </div>
            <a href="{{ collection_block.url }}" class="collection-by-type__hover-col">
              <span class="collection-by-type__hover-col-header">
                <h3 class="collection-by-type__col-title">{{ collection_block.title }}</h3>
              </span>
              {% include 'responsive-image' with
                image: collection_block.image,
                wrapper_class: 'collection-by-type__hover-col-image-wrap',
                image_class: 'collection-by-type__hover-col-image',
                alt: collection_block.title
                max_width: 360,
                max_height: 285,
                span: true
              %}
              <span class="collection-by-type__hover-col-content">
                <span class="collection-by-type__hover-col-text">{{ collection_block.description | strip_html | truncatewords: 15 }}</span>
                <span class="collection-by-type__hover-col-link">See products</span>
              </span>
            </a>
          </div>
          {% assign index_t2 = index_t2 | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% if section.settings.button_text %}
    <div class="container">
      <div class="collection-by-type__link-wrap">
        <a href="{{ section.settings.button_url }}" class="collection-by-type__link">{{ section.settings.button_text }}</a>
      </div>
    </div>
  {% endif %}

</section>

{% schema %}
  {
    "name": "Collection By Type",
    "blocks": [
      {
        "type": "tab-1",
        "name": "Collection Tab 1",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      },
      {
        "type": "tab-2",
        "name": "Collection Tab 2",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "title_tab_1",
        "label": "Tab 1 Title"
      },
      {
        "type": "text",
        "id": "title_tab_2",
        "label": "Tab 2 Title"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ],
    "presets": [{
        "name": "Collection By Type",
        "category": "Front Page"
    }]
  }
{% endschema %}


