{% comment %} todo - user authorization {% endcomment %}
<div class="product-single" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  {%- assign current_variant = product.selected_or_first_available_variant -%}

  <div class="product-single__authorization-tag">Needs authorization</div>

  <h1 class="product-single__title">{{ product.title }}</h1>
  <p class="product-single__id">Product ID. {{ product.id }}</p>

  <div class="product-single__reviews">
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>

  <div class="product-single__description">
    {{ product.description }}
  </div>

  <form class="product-single__form" action="/cart/add" method="post" enctype="multipart/form-data">

    <div class="product-single__price" data-price-wrapper>
      <span data-product-price>
        {{ current_variant.price | money }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    {% assign var_selected = false %}
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="product-single__option-name">{{ option.name }}</div>
        <div class="product-single__variants-wrap">
          {% for value in option.values %}
            <div class="product-single__variant-wrap">
              <input
                class="product-single__variant"
                type="radio"
                name="variation-radio-{{ option.name | handleize }}"
                value="{{ value | escape }}"
                data-single-option-selector
                data-index="option{{ option.position }}"
                {% if product.available %}
                  {% if forloop.index == 1 %}
                    checked="checked"
                  {% endif %}
                {% endif %}
                />
              <label class="product-single__variant-label">{{ value }}</label>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endunless %}

    <select name="id" class="no-js" data-product-select>
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
            {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    <div class="product-single__submit-wrap">
      <div class="product-single__input-wrap">
        <button type="button" class="product-single__quantity-button" data-qty-change="#Quantity" data-direction="down">-</button>
        <input class="product-single__quantity" type="number" id="Quantity" name="quantity" value="1" min="1">
        <button type="button" class="product-single__quantity-button" data-qty-change="#Quantity" data-direction="up">+</button>
      </div>
      <button
        class="product-single__submit"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </div>
  </form>

  {% include 'product-usps' %}


  <div class="product-single__authorization">
    <span class="product-single__authorization-icon">ICON</span>
    <div class="product-single__authorization-content">
      <p>To be able to buy this product you need to be authorized. Please see your nearest Face Reality clinic to get authorization.</p>
      <a href="" class="button button--main">Why can't I buy?</a>
      <br>
      <br>
      <p>If you already have an authorization, <a href="#">log in</a></p>
    </div>
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
