<div class="responsive-table">
  <table>
    <thead class="responsive-table__header-regular">
      <tr>
        <th>{{ section.settings.method_head }}</th>
        <th>{{ section.settings.rate_head }}</th>
        <th>{{ section.settings.time_head }}</th>
        <th>{{ section.settings.carrier_head }}</th>
      </tr>
    </thead>
    <tbody>
      {% for block in section.blocks %}
        <tr>
          <td class="responsive-table__cell-compact">
            <div><span class="pale">{{ section.settings.method_head }}:</span> {{ block.settings.method }}</div>
            <div><span class="pale">{{ section.settings.rate_head }}:</span> {{ block.settings.rate }}</div>
            <div><span class="pale">{{ section.settings.time_head }}:</span> {{ block.settings.time }}</div>
            <div><span class="pale">{{ section.settings.carrier_head }}:</span> {{ block.settings.carrier }}</div>
          </td>
          <td class="responsive-table__cell-regular">{{ block.settings.method }}</td>
          <td class="responsive-table__cell-regular">{{ block.settings.rate }}</td>
          <td class="responsive-table__cell-regular">{{ block.settings.time }}</td>
          <td class="responsive-table__cell-regular">{{ block.settings.carrier }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% schema %}
  {
    "name": "Shipping table",
    "settings": [
      {
        "type": "text",
        "id": "method_head",
        "label": "Method header"
      },
      {
        "type": "text",
        "id": "rate_head",
        "label": "Rate header"
      },
      {
        "type": "text",
        "id": "time_head",
        "label": "Time header"
      },
      {
        "type": "text",
        "id": "carrier_head",
        "label": "Carrier header"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Type",
        "settings": [
          {
            "type": "text",
            "id": "method",
            "label": "Method"
          },
          {
            "type": "text",
            "id": "rate",
            "label": "Rate"
          },
          {
            "type": "text",
            "id": "time",
            "label": "Delivery time"
          },
          {
            "type": "text",
            "id": "carrier",
            "label": "Carrier"
          }
        ]
      }
    ]
  }
{% endschema %}
