<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <script>var $=Checkout.$,inputs=["checkout_shipping_address_id","checkout_shipping_address_first_name","checkout_shipping_address_last_name","checkout_shipping_address_company","checkout_shipping_address_address1","checkout_shipping_address_address2","checkout_shipping_address_city","checkout_shipping_address_country","checkout_shipping_address_province","checkout_shipping_address_zip","checkout_shipping_address_phone"];$(document).ready(function(){for(var e=0;e<inputs.length;e++){var t=inputs[e];$("#"+t).prop("readonly",!0),$("#"+t).prop("disabled",!0),localStorage.setItem(t,$("#"+t).val())}}),document.getElementById(inputs[0])&&$(".step > form").submit(function(e){for(var t=!1,s=0;s<inputs.length-1;s++){var p=inputs[s];$("#"+p).val()!==localStorage.getItem(p)&&(t=!0)}t&&(!document.getElementById("do-not-change-shipping")&&$("[data-step-footer]").after("<p id='do-not-change-shipping'  style='clear: both; display:block; text-align:right; margin: 10px 0;'>Do not adjust the Shipping method</p>"),e.preventDefault())});</script>

    {{ tracking_code }}
  </body>
</html>
